In [1]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import requests
import json
import csv
import matplotlib.pyplot as plt
import time 
import datetime
import os

In [2]:
# Read CSV file

dataframe = pd.read_csv('../Data/parking-citations.csv',nrows=50000,parse_dates=['Issue Date'],low_memory=False)
#dataframe.head(20)

In [3]:
sampleDF=dataframe.drop(['Meter Id','Marked Time','Plate Expiry Date','VIN','Route','Agency'],axis=1)

#sampleDF=dataframe.sample(frac=0.1, replace=True)

In [5]:
sampleDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 13 columns):
Ticket number            50000 non-null int64
Issue Date               50000 non-null datetime64[ns]
Issue time               49987 non-null float64
RP State Plate           50000 non-null object
Make                     49950 non-null object
Body Style               49952 non-null object
Color                    49962 non-null object
Location                 49999 non-null object
Violation code           50000 non-null object
Violation Description    49996 non-null object
Fine amount              49937 non-null float64
Latitude                 50000 non-null float64
Longitude                50000 non-null float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(7)
memory usage: 5.0+ MB

In [21]:
Date_time_df=sampleDF[["Ticket number","Issue Date","Issue time"]]

In [22]:
Date_time_df.head()

   Ticket number Issue Date  Issue time
0     1103341116 2015-12-21      1251.0
1     1103700150 2015-12-21      1435.0
2     1104803000 2015-12-21      2055.0
3     1104820732 2015-12-26      1515.0
4     1105461453 2015-09-15       115.0

In [23]:
Date_time_df["Issue time"].isna().any()

True

In [24]:
Date_time_df = Date_time_df.dropna(subset=['Issue time'])

In [25]:
Date_time_df['Issue time'] = Date_time_df.loc[:,['Issue time']].astype(int)

In [26]:
Date_time_df['Issue time'] = Date_time_df['Issue time'].apply(str)

for i,time in enumerate(Date_time_df['Issue time']):

    length = len(time)
    if(length==1):
        time="000"+ time
    elif(length==2):
        time = "00" + time
    elif(length==3):
        time = "0"+ time
    else:
        time = time
    
    Date_time_df.at[i,"Issue time"] = time

In [27]:
Date_time_df['Issue time']=pd.to_datetime(Date_time_df['Issue time'],format ='%H%M').dt.time

In [28]:
Date_time_df.head()

   Ticket number Issue Date Issue time
0   1.103341e+09 2015-12-21   12:51:00
1   1.103700e+09 2015-12-21   14:35:00
2   1.104803e+09 2015-12-21   20:55:00
3   1.104821e+09 2015-12-26   15:15:00
4   1.105461e+09 2015-09-15   01:15:00

In [36]:
DateGrpByDF=Date_time_df.groupby(["Issue Date",'Ticket number'])

In [47]:
TicketCountByDay=DateGrpByDF["Ticket number"].count()
TicketCountByDay[-10:-1]

Issue Date
2015-12-30    7823
2015-12-31    7391
2016-01-01     938
2016-01-02     249
2016-01-03    1877
2016-01-04    7621
2016-01-05    5592
2016-01-06    6660
2016-01-07    7815
Name: Ticket number, dtype: int64

In [ ]:
DateGrpByDF[]

In [43]:
TimeGrpByDF=Date_time_df.groupby(["Issue time",'Ticket number'])

In [55]:
TicketCountByTime=TimeGrpByDF["Ticket number"].count()
TicketCountByTime[-20:-1]

Issue time  Ticket number
23:55:00    1.111614e+09     1
            1.112096e+09     1
            1.112105e+09     1
            4.272883e+09     1
            4.273416e+09     1
23:56:00    1.109921e+09     1
            4.272510e+09     1
            4.272525e+09     1
            4.272883e+09     1
            4.274082e+09     1
            4.274532e+09     1
23:57:00    4.274532e+09     1
23:59:00    1.109582e+09     1
            4.272584e+09     1
            4.272631e+09     1
            4.273206e+09     1
            4.273395e+09     1
            4.273906e+09     1
            4.274110e+09     1
Name: Ticket number, dtype: int64