In [2]:
#Initial Imports 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import requests
import json
import csv
import matplotlib.pyplot as plt
import time 
import datetime
import os

In [3]:
# Read CSV file raw_dataframe = pd.read_csv('../Data/parking-citations.csv',nrows=100000,parse_dates=["Issue Date"])

raw_dataframe = pd.read_csv('../Data/parking-citations.csv',parse_dates=["Issue Date"],low_memory=False)

In [4]:
sampleDF=raw_dataframe.sample(frac=0.01, replace=True)

In [5]:
pd.set_option('mode.chained_assignment', None)

In [6]:
sampleDF=sampleDF.drop(['Meter Id','Marked Time','Plate Expiry Date','VIN','Route','Agency'],axis=1)

In [7]:
sampleDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94187 entries, 2844169 to 1033331
Data columns (total 13 columns):
Ticket number            94187 non-null object
Issue Date               94177 non-null datetime64[ns]
Issue time               94151 non-null float64
RP State Plate           94181 non-null object
Make                     94069 non-null object
Body Style               94081 non-null object
Color                    94144 non-null object
Location                 94173 non-null object
Violation code           94187 non-null object
Violation Description    94174 non-null object
Fine amount              94107 non-null float64
Latitude                 94187 non-null float64
Longitude                94187 non-null float64
dtypes: datetime64[ns](1), float64(4), object(8)
memory usage: 10.1+ MB

In [8]:
Date_time_df=sampleDF.loc[:,["Ticket number","Issue Date","Issue time"]].copy()
Date_time_df.set_index('Issue Date')
Date_time_df.index

Int64Index([2844169, 3669770,  661899, 5272718, 7798515,  935248, 5935962,
            9404706, 2113574, 1489073,
            ...
            7079769, 1042911, 4413745, 1234365, 3244950, 2943440, 6601802,
            5029541, 9363614, 1033331],
           dtype='int64', length=94187)

In [9]:
Date_time_df=Date_time_df.dropna()

In [10]:
Date_time_df["Issue time"]=Date_time_df["Issue time"].tz_localize(tz='US/Pacific')
Date_time_df["Issue time"][0]

TypeError: index is not a valid DatetimeIndex or PeriodIndex

In [47]:
Date_time_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94155 entries, 2746589 to 7480393
Data columns (total 3 columns):
Ticket number    94155 non-null object
Issue Date       94155 non-null datetime64[ns]
Issue time       94155 non-null float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 2.9+ MB

In [48]:
Date_time_df['year'] = pd.DatetimeIndex(Date_time_df['Issue Date']).year

In [49]:
Date_time_df.sort_values(by='year',ascending=True).head(5)

        Ticket number Issue Date  Issue time  year
5791702    1112469864 2012-07-29      2250.0  2012
2815735    1112028326 2012-09-05       620.0  2012
2815735    1112028326 2012-09-05       620.0  2012
1264981    4249599804 2014-12-31      1241.0  2014
1236992    4245543595 2014-11-01       820.0  2014

In [50]:
grpbyYr=Date_time_df.groupby(["year"])

In [51]:
grpbyYr.count().head(6)

      Ticket number  Issue Date  Issue time
year
2012              3           3           3
2014            383         383         383
2015          21800       21800       21800
2016          21988       21988       21988
2017          22498       22498       22498
2018          19907       19907       19907

In [61]:
Date_time_df['Issue time']= Date_time_df['Issue time'].apply(str)

In [63]:
Date_time_df['Issue time'][0:5]

2746589    1141.0
8109212     814.0
5882711    1618.0
7319307    2023.0
1310638    1435.0
Name: Issue time, dtype: object

In [66]:
# adjust the time values to equal length




Date_time_df=df.tz_localize(tz='US/Pacific')

NameError: name 'Date_time_df' is not defined

In [68]:
#dataframe["Issue time"] = dataframe["Issue time"].astype(int)
Date_time_df['Issue time']=pd.to_datetime(Date_time_df['Issue time'],format ='%H%M').dt.time
Date_time_df.head()

ValueError: unconverted data remains: .0

In [ ]:
grpby_date=Date_time_df.groupby(['Issue Date'])
print(grpby_date)
grpby_date.count().head(10)