In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import requests
import json
import csv
import matplotlib.pyplot as plt
import time 
import datetime
import os

In [6]:
# Read CSV file

dataframe = pd.read_csv('Resources/parking-citations.csv',nrows=50000,parse_dates=['Issue Date'],low_memory=False)
dataframe.head(20)

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
0,1103341116,2015-12-21,1251.0,NaN,NaN,CA,200304.0,NaN,HOND,PA,GY,13147 WELBY WAY,01521,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
1,1103700150,2015-12-21,1435.0,NaN,NaN,CA,201512.0,NaN,GMC,VN,WH,525 S MAIN ST,1C51,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
2,1104803000,2015-12-21,2055.0,NaN,NaN,CA,201503.0,NaN,NISS,PA,BK,200 WORLD WAY,2R2,2.0,8939,WHITE CURB,58.0,6439997.9,1802686.4
3,1104820732,2015-12-26,1515.0,NaN,NaN,CA,NaN,NaN,ACUR,PA,WH,100 WORLD WAY,2F11,2.0,000,17104h,NaN,6440041.1,1802686.2
4,1105461453,2015-09-15,115.0,NaN,NaN,CA,200316.0,NaN,CHEV,PA,BK,GEORGIA ST/OLYMPIC,1FB70,1.0,8069A,NO STOPPING/STANDING,93.0,99999.0,99999.0
5,1106226590,2015-09-15,19.0,NaN,NaN,CA,201507.0,NaN,CHEV,VN,GY,SAN PEDRO S/O BOYD,1A35W,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
6,1106500452,2015-12-17,1710.0,NaN,NaN,CA,201605.0,NaN,MAZD,PA,BL,SUNSET/ALVARADO,00217,1.0,8070,PARK IN GRID LOCK ZN,163.0,99999.0,99999.0
7,1106500463,2015-12-17,1710.0,NaN,NaN,CA,201602.0,NaN,TOYO,PA,BK,SUNSET/ALVARADO,00217,1.0,8070,PARK IN GRID LOCK ZN,163.0,99999.0,99999.0
8,1106506402,2015-12-22,945.0,NaN,NaN,CA,201605.0,NaN,CHEV,PA,BR,721 S WESTLAKE,2A75,1.0,8069AA,NO STOP/STAND AM,93.0,99999.0,99999.0
9,1106506413,2015-12-22,1100.0,NaN,NaN,CA,201701.0,NaN,NISS,PA,SI,1159 HUNTLEY DR,2A75,1.0,8069AA,NO STOP/STAND AM,93.0,99999.0,99999.0
10,1106506424,2015-12-22,1100.0,NaN,NaN,CA,201511.0,NaN,FORD,TR,WH,1159 HUNTLEY DR,2A75,1.0,8069AA,NO STOP/STAND AM,93.0,99999.0,99999.0
11,1106506435,2015-12-22,1105.0,NaN,NaN,CA,201701.0,NaN,CHRY,PA,GO,1159 HUNTLEY DR,2A75,1.0,8069AA,NO STOP/STAND AM,93.0,99999.0,99999.0
12,1106506446,2015-12-22,1110.0,NaN,NaN,CA,201511.0,NaN,BMW,PA,BK,1200 W MIRAMAR,2A75,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
13,1106549754,2015-12-15,825.0,NaN,NaN,CA,201607.0,NaN,PTRB,TR,BK,4TH/STATE,CM96,1.0,8069A,NO STOPPING/STANDING,93.0,99999.0,99999.0
14,1107179581,2015-12-27,1055.0,NaN,NaN,CA,201605.0,NaN,TOYO,PA,BK,3100 N HOLLYRIDGE DR,NaN,54.0,8058L,PREF PARKING,68.0,99999.0,99999.0
15,1107179592,2015-12-27,1200.0,NaN,NaN,CA,201602.0,NaN,MBNZ,PA,BK,3115 N BERENDO DR,NaN,54.0,8058L,PREF PARKING,68.0,99999.0,99999.0
16,1107179603,2015-12-27,1400.0,NaN,NaN,CA,201611.0,NaN,NISS,PA,WH,3100 N BEACHWOOD DR,NaN,54.0,8058L,PREF PARKING,68.0,99999.0,99999.0
17,1107539823,2015-09-16,2120.0,NaN,NaN,CA,201502.0,NaN,NISS,PA,NaN,BLAINE/11TH PL,1FB95,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
18,1107539834,2015-09-16,1045.0,NaN,NaN,CA,NaN,NaN,CHEV,PA,BK,1246 S FIGUEROA ST,1L20,1.0,8069AP,NO STOP/STAND PM,93.0,99999.0,99999.0
19,1107780811,2015-12-22,1102.0,NaN,NaN,CA,201606.0,NaN,HOND,PA,BK,PLATA/RAMPART,2A1,1.0,8069B,NO PARKING,73.0,99999.0,99999.0

In [7]:
sampleDF=dataframe.drop(['Meter Id','Marked Time','Plate Expiry Date','VIN','Route','Agency'],axis=1)

In [8]:
sampleDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 13 columns):
Ticket number            50000 non-null int64
Issue Date               50000 non-null datetime64[ns]
Issue time               49987 non-null float64
RP State Plate           50000 non-null object
Make                     49950 non-null object
Body Style               49952 non-null object
Color                    49962 non-null object
Location                 49999 non-null object
Violation code           50000 non-null object
Violation Description    49996 non-null object
Fine amount              49937 non-null float64
Latitude                 50000 non-null float64
Longitude                50000 non-null float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(7)
memory usage: 5.0+ MB

In [9]:
Date_time_df=sampleDF[["Ticket number","Issue Date","Issue time"]]

In [10]:
Date_time_df.head()

   Ticket number Issue Date  Issue time
0     1103341116 2015-12-21      1251.0
1     1103700150 2015-12-21      1435.0
2     1104803000 2015-12-21      2055.0
3     1104820732 2015-12-26      1515.0
4     1105461453 2015-09-15       115.0

In [11]:
Date_time_df["Issue time"].isna().any()

True

In [12]:
Date_time_df = Date_time_df.dropna(subset=['Issue time'])

In [13]:
Date_time_df['Issue time'] = Date_time_df.loc[:,['Issue time']].astype(int)

In [14]:
Date_time_df['Issue time'] = Date_time_df['Issue time'].apply(str)

for i,time in enumerate(Date_time_df['Issue time']):

    length = len(time)
    if(length==1):
        time="000"+ time
    elif(length==2):
        time = "00" + time
    elif(length==3):
        time = "0"+ time
    else:
        time = time
    
    Date_time_df.at[i,"Issue time"] = time

In [15]:
Date_time_df['Issue time']=pd.to_datetime(Date_time_df['Issue time'],format ='%H%M').dt.time

In [16]:
Date_time_df.head()

   Ticket number Issue Date Issue time
0   1.103341e+09 2015-12-21   12:51:00
1   1.103700e+09 2015-12-21   14:35:00
2   1.104803e+09 2015-12-21   20:55:00
3   1.104821e+09 2015-12-26   15:15:00
4   1.105461e+09 2015-09-15   01:15:00

In [ ]:
DateGrpByDF=Date_time_df.groupby(["Issue Date",'Ticket number'])

In [ ]:
TicketCountByDay=DateGrpByDF["Ticket number"].count()
TicketCountByDay[-10:-1]

In [ ]:
DateGrpByDF[]

In [ ]:
TimeGrpByDF=Date_time_df.groupby(["Issue time",'Ticket number'])

In [ ]:
TicketCountByTime=TimeGrpByDF["Ticket number"].count()
TicketCountByTime[-20:-1]